<div>
  <div class="container">
    <div class="notification is-danger">
      <div class="grid-container">
        <div class="card">
          <div class="card-content">
            <form (submit)="submitForm(city, country)">
              <div class="field">
                <label class="label">Country</label>
                <div class="control">
                  <input #country class="input" type="text" placeholder="CO (Colombia)" list="countries" />
                  <datalist id="countries" class="datalist">
                    <ng-container *ngFor="let country of countries">
                      <option [value]="country.iso2">
                        {{ country.nombre }}
                      </option>
                    </ng-container>
                  </datalist>
                </div>
              </div>
              <div class="field">
                <label class="label">City</label>
                <div class="control">
                  <input #city class="input" type="text" placeholder="Bogotá" />
                </div>
              </div>
              <div class="control">
                <button class="button is-danger">Submit</button>
              </div>
            </form>
            <!-- <button class="button is-danger" (click)="getWheater('Berlin', 'DE')">
              Berlin
            </button>
            <button class="button is-danger" (click)="getWheater('Bogotá', 'CO')">
              Colombia
            </button> -->
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <ng-container *ngIf="weather; else elseTemplate">
              <h1 class="h4">Weather Information</h1>
              <p>City: {{ weather.name }}</p>
              <p>Latitude: <app-animated-counter [valor]="weather.coord.lat" /></p>
              <p>Longitude: <app-animated-counter [valor]="weather.coord.lon" /> </p>
              <p>
                Humidity: <app-animated-counter [valor]="weather.main.humidity" />
              </p>
              <p>
                Pressure: <app-animated-counter [valor]="weather.main.pressure" />
              </p>
              <p>Temperature: <app-animated-counter [valor]="weather.main.temp" /> °C</p>
              <p>Description: {{ weather.weather[0].description }}</p>
            </ng-container>
            <ng-template #elseTemplate> No hay Datos :c </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
